<div align="center" id="middle">
    <div class="newuser_box">

<p>
  <strong>Company name :</strong>
  <%= @company_name.name %><br>
   

</p>
<br/>
<p>
 
  <a href="/company_names/<%= @company_name.id %>/edit" >Edit</a>

</p>
    </div>
</div>