<div align="center" id="middle">
    <div class="newuser_box">

<%= render 'form' %>

<p>
  <%= link_to "Show", @company_other_object %> |
  <%= link_to "View All", company_other_objects_path %>
</p></div></div>