<div align="center" id="middle">
    <div class="newuser_box">
<p>
  <strong>Other Objects</strong><br><br>
  <div align="justify"> <%= @company_other_object.description %></div>
</p>
<br><br>
<p>
 <a href="/clients/<%= @company_other_object.client_id %>/requirements/incorps/company_other_objects/<%= @company_other_object.id %>/edit"  >Edit</a> | 
    <a href="/clients/<%= @company_other_object.client_id %>/requirements/incorps/company_other_objects">View All</a>
</p>
</div></div>