<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="right" valign="middle"><img src="images/avatar.jpg" alt="" width="78" height="80" /></td>
    <td align="left" valign="middle">&nbsp;</td>
    <td align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="middle">Contact</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @din.contact_id %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Din Number</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @din.din_no %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Digital Signature</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @din.digital_signature %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Expiry</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong> <%= @din.expiry %> </strong></td>
  </tr>
  
  
  
  
  
</table>