<div align="center" id="middle">
    <div class="newuser_box">
	 <%= link_to "Din", din_details_path, :class=> "addlink" %></a>
	  <p><a href="#" class="addlink">Form 1A</a></p>
	  <p><a href="#" class="addlink">Incorp Details</a></p>
	 
    </div>
</div>