<div align="center" id="middle">
    <div class="newuser_box">
	 <a href="#" class="addlink">Din</a>
	  <p><a href="#" class="addlink">Sample</a></p>
	  <p><a href="#" class="addlink">Sample 2</a></p>
	 
    </div>
</div>