<div align="center" id="middle">

    <div class="newuser_box">

	 <%= link_to "Din",  {:controller=>"din_details", :action=>"index"}, :class=> "addlink" %></a>
	  <p><%= link_to "Form1a details",  {:controller=>"form1a_details", :action=>"index"}, :class=> "addlink" %></p>
	  <p><%= link_to "incorps",  {:controller=>"incorps", :action=>"index"}, :class=> "addlink" %></p>

    </div>
</div>

