<div align="center" id="middle">
    <div class="newuser_box">
<p>
  <strong>Company main Object</strong><br><br>
  <div align="justify"> <%= @company_main_object.description %></div>
</p>
<br><br>
<p>
   <a href="/clients/<%= @company_main_object.client_id %>/requirements/incorps/company_main_objects/<%= @company_main_object.id %>/edit"  >Edit</a> | 
    <a href="/clients/<%= @company_main_object.client_id %>/requirements/incorps/company_main_objects">View All</a>

</p>
