<div align="center" id="middle">
    <div class="newuser_box">

<p>
  <b>Meeting name:</b>
  <%= @setting.meeting_name %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
</div>
</div>