<div align="center" id="middle">
    <div class="newuser_box">
<p>
  <strong>Company Incidental Object</strong><br><br>
  <div align="justify"> <%= @company_incidental_object.description %></div>
</p>
<br><br>
<p>
  <a href="/clients/<%= @company_incidental_object.client_id %>/requirements/incorps/company_incidental_objects/<%= @company_incidental_object.id %>/edit"  >Edit</a> | 
    <a href="/clients/<%= @company_incidental_object.client_id %>/requirements/incorps/company_incidental_objects">View All</a>
</p>
</div></div>
