<div align="center" id="middle">
    <div class="newuser_box">
<p>
  <strong>Company Incidental Object</strong><br><br>
  <div align="justify"> <%= @company_incidental_object.description %></div>
</p>
<br><br>
<p>
  <%= link_to "Edit", edit_company_incidental_object_path(@company_incidental_object) %> |
  <%= link_to "Destroy", @company_incidental_object, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_incidental_objects_path %>
</p>
</div></div>
