 <div align="center" id="middle">

    <div class="newuser_box">
 <%= link_to "Notice",  {:controller=>"notices", :action=>"index"}, :class=> "addlink" %><br>
  <%= link_to "Minutes generator",  {:controller=>"min_generators", :action=>"index"}, :class=> "addlink" %>

</div></div>
