<div align="center" id="middle">
    <div class="newuser_box">

<p>
  <strong>Proposed Name :</strong>
  <%= @proposed_name.pro_name %><br>
    <strong>Significance of name :</strong>
  <%= @proposed_name.significance_of_name %>

</p>
<br/>
<p>
 
  <a href="/proposed_names/<%= @proposed_name.id %>/edit" >Edit</a>

</p>
    </div>
</div>